<div>
    <h1 class="mb-3">{{name}}</h1>
    <div class="mb-2">{{birthdate}}</div>
    {{birthplace}}
        <hr>
    <div class="mb-3">{{deathdate}}</div>
    {{deathplace}}
        <hr>
    <div class="mb-1">{{nationality}}</div>
    {{occupation}}
    <ul class="mt-2">
        {{#each known_for}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    
    <section>
        <strong>Education</strong>
    <ul>
        {{#each education}}
        <li>
            <div class="mb-2 mt-2">{{degree}}</div>
            {{field}}
            <div class="mt-2">{{institution}} ({{year}})</div>
        </li>
        {{/each}}
    </ul>
    </section>
    <hr>
    <section>
        <strong>Notable publications</strong>
    <ul>
        {{#each notable_publications}}
        <li>
            <div class="mb-1">{{title}} ({{year}})</div>
            <div class="mb-1">{{publisher}}</div>
        </li>
        {{/each}}
    </ul>
    </section>
    <hr>
    <section>
        <strong>Pertners</strong>
        <ul>
            {{#each partners}}
                <li>
                    <div class="mb-1">{{name}}</div>
                    <div class="mb-1">{{relationship}} ({{years}})</div>
                </li>
            {{/each}}
        </ul>
    </section>
    <hr>
    <section>
        <strong>Awards</strong>
        <ul>
            {{#each awards}}
            <li>
                <div class="mb-2">{{title}} ({{year}})</div>
                {{description}}
            </li>
            {{/each}}
        </ul>
    </section>
    <hr>
    <strong>Influences</strong>
    <ul>
        {{#each influences}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <hr>
    <strong>Influenced</strong>
    <ul>
        {{#each influenced}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <hr>
    <strong>Quotes</strong>
    <ul>
        {{#each quotes}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <hr>
    <section>
        <strong>Major discoveries</strong>
        <ul>
            {{#each major_discoveries}}
                <li>
                    <div class="mb-2">{{title}} ({{year}})</div>
                    {{description}}
                </li>
            {{/each}}
        </ul>
    </section>
    <hr>
    <section>
        <strong>Contributions</strong>
        <ul>
            {{#with contributions}}
                <li>
                    <div class="mb-1">{{title}} ({{year}})</div>
                    <div class="mb-1">{{description}}</div>
                    {{field}}
                </li>
            {{/with}}
        </ul>
    </section>
</div>
