<div>
    <h1><strong>Car</strong></h1>
    {{make}}
    <br>
    {{model}} ({{year}})
    <br>
    {{color}}
    <hr>
    <section>
        <strong>Features</strong>
        <ul>
            {{#with features}}
                {{#with interior}}
                    {{#with seats}}
                    <strong>Seats</strong>
                        <li>
                            {{material}}
                            <br>
                            {{color}}
                            <br>
                             {{#unless heated includeZero=true}}  {{/unless}}

                            {{#unless heated}}
                                {{#if heated includeZero=true}} 
                                {{/if}}
                            {{/unless}}

                            {{#unless ventilated includeZero=true}}  {{/unless}}

                            {{#unless ventilated}}
                                {{#if ventilated includeZero=true}} 
                                {{/if}}
                            {{/unless}}
                        </li>
                    {{/with}}
                    <strong>Dashboard</strong>
                    <ul>
                        {{#with dashboard}}
                        <li>
                            {{material}}
                            <br>
                            {{color}}
                            <br>
                            <hr>
                            <strong>Display</strong>
                            <ul>
                                {{#with display}}
                                    <li>
                                        {{type}}
                                        <br>
                                       <div>Size: {{size}}</div>
                                        <div>Resolution: {{resolution}}</div>
                                    </li>
                                {{/with}}
                            </ul>
                        </li>
                        {{/with}}
                        <hr>
                        <strong>Audio</strong>
                        <ul>
                            {{#with audio}}
                                <li>
                                    {{system}}
                                    <br>
                                    <div>Speakers: {{speakers}}</div>
                                </li>
                            {{/with}}
                        </ul>
                    </ul>
                {{/with}}
                <strong>Exterior</strong>
                <ul>
                    {{#with exterior}}
                        {{#with wheels}}
                            <li>
                               <div>Size:  {{size}}</div>
                                <br>
                                {{type}}
                                <br>
                                {{color}}
                            </li>
                        {{/with}}
                        <ul>
                        {{#with headlights}}
                            <li>
                                {{type}}
                                <br>
                                {{brightness}}
                            </li>
                        {{/with}}
                        </ul>
                        <strong>Sunroof</strong>
                        <ul>
                            {{#with sunroof}}
                                <li>
                                    {{type}}
                                    <br>
                                    {{size}}
                                </li>
                            {{/with}}
                        </ul>
                    {{/with}}
                    <strong>Safety</strong>
                    <ul>
                        {{#with safety}}
                        {{#with airbags}}
                            <li>
                                <div>Front: {{front}}</div>
                                <br>
                                 <div>Side: {{side}}</div>
                                <br>
                                 <div>Knee: {{knee}}</div>
                                <br>
                                 <div>Rear: {{rear}}</div>
                            </li>
                        {{/with}}
                        {{/with}}
                    </ul>
                </ul>
            {{/with}}
        </ul>
        <section>
            <strong>Engine</strong>
            <ul>
                {{#with engine}}
                    <li>
                        {{type}}
                        <br>
                        <div>Displacement: {{displacement}}</div>
                        <br>
                        <div>Horsepower: {{horsepower}}</div>
                        <br>
                        <div>Torque:{{torque}}</div>
                        <br>
                        <ul>
                            {{#with transmission}}
                                <li>
                                    {{type}}
                                    <br>
                                    <div>Gears:{{gears}}</div>
                                </li>
                            {{/with}}
                        </ul>
                    </li>
                {{/with}}
            </ul>
        </section>
        <section>
            <strong>Fuel_economy</strong>
            <ul>
                {{#with fuel_economy}}
                <li>
                    <div>City: {{city}}</div>
                    <br>
                    <div>Highway: {{highway}}</div>
                    <br>
                    <div>Combined: {{combined}}</div>
                </li>
                {{/with}}
            </ul>
        </section>
        <section>
            <strong>Price</strong>
            <ul>
                {{#with price}}
                    <li>
                        <div>Base: {{base}}</div>
                        <br>
                        <div>Destination: {{destination}}</div>
                        <br>
                        <div>Options</div>
                        <ul>
                            {{#with options}}
                            <li>
                                <div>Navigation: {{navigation}}</div>
                                <br>
                                <div>Moonroof: {{ moonroof}}</div>
                                <br>
                                <div>Premium paint: {{premium_paint}}</div>
                            </li>
                            {{/with}}
                        </ul>
                        <strong>Price: {{total}} </strong>
                    </li>
                {{/with}}
            </ul>
        </section>
    </section>
</div>