<div>
    <h1>{{name}}</h1>
    <section>
        <strong>Users</strong>
        <ul>
            {{#each users}}
                <li>
                    {{id}}
                    <div class="mb-2">{{name}}</div>
                    {{gender}}
                    <div class="mb-2">{{age}}</div>
                    <hr>
                <strong>Friends</strong>
                 <ul>
                    {{#each friends}}
                        <li>
                            {{id}}
                           <div class="mb-2">{{gender}}</div>
                            <div class="mb-2">{{age}}</div>
                            <strong>Groups</strong>
                            <ul>
                                {{#each groups}}
                                <li>
                                    {{id}}
                                    <div class="mb-2">{{name}}</div>
                                    <div class="mb-2">{{description}}</div>
                                    <hr>
                                    <strong>Members</strong>
                                    <ul>
                                        {{#each members}}
                                            <li>
                                                {{id}}
                                                <div class="mb-2 mt-2">{{name}}</div>
                                                {{gender}}
                                                <div class="mt-2 mb-2">{{age}}</div>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </li>
                                {{/each}}
                            </ul>
                            <hr>
    
                <strong>Mutual_friends</strong>
                <ul>
                    {{#each mutual_friends}}
                        <li>
                            {{id}}
                            <div class="mb-2 mt-2">{{name}}</div>
                            {{gender}}
                            <div class="mb-2 mt-2">{{age}}</div>

                            <strong>Mutual Friends</strong>
                            <ul>
                                {{#each mutual_friends}}
                                    <li>
                                        {{id}}
                                        <div class="mb-2 mt-2">{{name}}</div>
                                        {{gender}}
                                        <div class="mb-2 mt-2">{{age}}</div>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                        
                    {{/each}}
                </ul>
                        </li>
                    {{/each}}
                 </ul>
                </li>
                <hr>
            <strong>Groups</strong>
            <ul>
                {{#each groups}}
                    <li>
                        {{id}}
                        <div class="mb-2 mt-2">{{name}}</div>
                        {{description}}
                        <hr>
                 <strong>Members</strong>  
                 <ul>
                    {{#each members}}
                        <li>
                            {{id}}
                            <div class="mb-2 mt-2">{{name}}</div>
                            {{gender}}
                           <div class="mb-2 mt-2">{{age}}</div>
                        </li>
                    {{/each}}
                 </ul>      
                    </li>
                {{/each}}
            </ul>
            {{/each}}
        </ul>
    </section>
</div>