<div>
    <h1>{{name}}</h1>
    <section>
        <strong>Users</strong>
        <ul>
            {{#each users}}
                <li>
                    {{id}}
                    <br>
                    {{name}}
                    <br>
                    {{gender}}
                    <br>
                    {{age}}
                    <br>
                    <hr>
                <strong>Friends</strong>
                 <ul>
                    {{#each friends}}
                        <li>
                            {{id}}
                            <br>
                            {{gender}}
                            <br>
                            {{age}}
                            <br>
                            <strong>Groups</strong>
                            <ul>
                                {{#each groups}}
                                <li>
                                    {{id}}
                                    <br>
                                    {{name}}
                                    <br>
                                    {{description}}
                                    <br>
                                    <hr>
                                    <strong>Members</strong>
                                    <ul>
                                        {{#each members}}
                                            <li>
                                                {{id}}
                                                <br>
                                                {{name}}
                                                <br>
                                                {{gender}}
                                                <br>
                                                {{age}}
                                                <br>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </li>
                                {{/each}}
                            </ul>
                            <hr>
    
                <strong>Mutual_friends</strong>
                <ul>
                    {{#each mutual_friends}}
                        <li>
                            {{id}}
                            <br>
                            {{name}}
                            <br>
                            {{gender}}
                            <br>
                            {{age}}
                            <br>
                            <strong>Mutual Friends</strong>
                            <ul>
                                {{#each mutual_friends}}
                                    <li>
                                        {{id}}
                                        <br>
                                        {{name}}
                                        <br>
                                        {{gender}}
                                        <br>
                                        {{age}}
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                        
                    {{/each}}
                </ul>
                        </li>
                    {{/each}}
                 </ul>
                </li>
                <br>
                <hr>
            <strong>Groups</strong>
            <ul>
                {{#each groups}}
                    <li>
                        {{id}}
                        <br>
                        {{name}}
                        <br>
                        {{description}}
                        <br>
                        <hr>
                 <strong>Members</strong>  
                 <ul>
                    {{#each members}}
                        <li>
                            {{id}}
                            <br>
                            {{name}}
                            <br>
                            {{gender}}
                            <br>
                            {{age}}
                        </li>
                    {{/each}}
                 </ul>      
                    </li>
                {{/each}}
            </ul>
            {{/each}}
        </ul>
    </section>
</div>