<main>
    {{#with navigation}}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="nav">
                            {{#each links}}
                                <div class="nav-item">
                                    <a class="nav-link
                                    {{#if @last}}disabled{{/if}}"
                                     href="{{href}}">
                                    {{text}}
                                    </a>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/with}}

    <h1 class="mt-5">{{header}}</h1>
        {{#with purchase}}
            <div class="mb-5">
            <ul class="nav nav-tabs">
                {{#each tabs}}
                    <li class="nav-item">
                        <a class="nav-link 
                        {{#if @first}} active{{/if}}">
                        {{this}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="row">
        {{#with actionBlock}}
        <div class="col-3">
            {{#with input}}
                <input class="form-control" placeholder="{{placeholder}}">
            {{/with}}

        </div>
            <div class="col-9">
        {{#each buttons}}
                <button href="{{link}}" class="{{#if isSuccess}}btn btn-success
                {{else if isOutline}} btn btn-outline-success
                {{else if isDanger}} btn btn-outline-danger{{/if}}">
                 {{text}} </button>
        {{/each}}
        </div>
        {{/with}}
        
        </div>

        <hr>

            {{#each itemList}}
  <div class="row gx-1">
    <div class="col-4 pt-3">
      <div class="card-body ">
        <small>{{number}}</small>
        <h5 class="mt-3">{{status}}</h5>
      </div>
    </div>
    <div class="col-2 pt-3">
        {{#with amount}}
           <h6>{{title}}:</h6>
           <p>{{value}}</p>
        {{/with}}
  </div>
  
        <div class="col-4">
            
            <div class="row gx-2">
            {{#each images}}
                 <img src="{{this}}" class="col-3 pt-3" style="max-width: 640px;">
            {{/each}}
            </div>
        </div>

        <div class="col-2 py-4">
            {{#with button}}
                <button href="{{link}}" class="{{#if isPrimary}}
                btn btn-primary{{/if}}">{{text}}</button>
            {{/with}}
        </div>
    </div>
    <hr>
    </div>
    </div>
            {{/each}}
        {{/with}}

        <hr class="mt-5"> 

        {{#with userInfo}}
            <h3>{{title}}</h3>
            <div class="card">
                <div class="card-body">
                {{#with profileData}}
                    <h4>{{title}}</h4>
                    </div>

                        <div class="card mx-3">
                        <div class="card-body">
                            {{#with fullName}}
                                {{#with surname}}
                                    <div class="row">
                                    <div class="col-4">
                                        {{title}}
                                        <h6>{{value}}</h6>
                                    </div>
                                {{/with}}

                                    
                                {{#with name}}
                                <div class="col-4">
                                        {{title}}
                                        <h6>{{value}}</h6>
                                    </div>
                                {{/with}}

                                {{#with middleName}}
                                <div class="col-4">
                                        {{title}}
                                        <h6>{{value}}</h6>
                                    </div>
                                {{/with}}
                            {{/with}}
                        </div>
                    </div>
                    </div>

                    <div class="card mt-3 mx-3">
                        <div class="card-body">
                            {{#with otherInfo}}
                                {{#with birthday}}
                                    <div class="row">
                                    <div class="col-4">
                                        {{title}}
                                        <h6>{{value}}</h6>
                                    </div>
                                {{/with}}

                                {{#with sex}}
                                <div class="col-4">
                                        {{title}}
                                        <h6>{{value}}</h6>
                                    </div>
                                {{/with}}

                                {{#with language}}
                                <div class="col-4">
                                        {{title}}
                                        <h6>{{value}}</h6>
                                    </div>
                                {{/with}}
                            {{/with}}
                        </div>
                    </div>
                {{/with}}
            </div>

            <div class="card mt-3 mx-3 mb-3">
                <div class="card-body">
                        <div class="row">
                    {{#each buttons}}
                            <div class="col-4">
                                <button class="{{#if isPrimary}}btn btn-primary
                                {{else if isSecondary}}btn btn-outline-secondary
                                {{else if isDanger}}btn btn-outline-danger{{/if}}" href="{{link}}">
                                {{text}}</button>
                        </div>
                    {{/each}}
                        </div>
                </div>
            </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    {{#with recipients}}
                        <h3>{{title}}</h3>
                        <div class="row">
                            {{#each users}}      
                        <div class="card col-5 ms-2 mt-2">
                            <div class="card-body">
                                
                            <div class="col-12">  
                                 <h6>{{name}}</h6>
                                 {{phone}}

                                 {{#with button}}
                                    <button href="{{link}}" class="btn btn-primary mt-3">{{text}}</button>
                                 {{/with}}
                            </div>
                        </div>
                            
                        </div>
                            {{/each}}
                            </div> 
                        </div>
                    {{/with}}
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    {{#with contacts}}
                        <h3>{{title}}</h3>
                        <div class="row">
                            {{#each contactData}}      
                        <div class="card col-3 my-5 ms-3 mb-1">
                            <div class="card-body">
                                
                            <div class="col-12">  
                                 {{title}}
                                 <h6>{{value}}</h6>

                                 {{#with button}}
                                    <button href="{{link}}" class="{{#if isPrimary}}
                                    btn btn-primary{{else if isSecondary}}
                                    btn btn-outline-secondary{{else if isDanger}}
                                    btn btn-outline-danger{{/if}}">
                                    {{text}}</button>
                                 {{/with}}
                            </div>
                        </div>
                            
                        </div>
                            {{/each}}
                            </div> 
                        </div>
                    {{/with}}
            </div>
        {{/with}}

        <hr class="mt-5">

        <div class="row">
                {{#each footer}}
                    <ul class="nav-item col-2">
                        {{#each this}}
                        <ol>
                            <a class="{{#if @last}}nav-link disabled{{/if}}" 
                            href="{{link}}">{{text}}</a>
                        </ol>
                        {{/each}}
                    </ul>
                {{/each}}
            </div>
</main>