<main>
    {{#with navigation}}
        <div class="row g-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="nav-item">
                            {{#each links}}
                                <a href="{{href}}" class="m-3">{{text}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/with}}

    {{#with newsBlock}}
    <h1 class="text-center pt-5">{{title}}</h1>
        <div class="row gx-5 gy-1">
        {{#each cards}}
            <section class="col-3">
                <div class="card text-bg-secondary">
                    <div class="card-header">
                        {{title}}
                        
                        {{#if isTop includeZero=true}}
                            <span class="badge text-bg-danger rounded-pill text-uppercase">Top</span>
                        {{/if}}
                        {{#if isNew includeZero=true}}
                            <span class="badge text-bg-success rounded-pill text-uppercase">New</span>
                        {{/if}}
                    </div>
                    <div class="card-body">
                        <p6>{{description}}</p6>
                    </div>
                </div>
            </section>
        {{/each}}
        </div>
    {{/with}}

    <hr>

    {{#with goodsBlock}}
        <div class="mb-5">
            <ul class="nav nav-tabs">
                {{#each tabs}}
                    <li class="nav-item">
                        <a class="nav-link 
                        {{#if isActive}}active
                        {{else if isDisabled}}disabled{{/if}}"
                        href="#">{{text}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        


        <div class="row gy-4">
            {{#each cards}}
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{image}}">
                    <div class="card-body">
                        <h6 class="card-title">{{title}}</h6>
                            {{#if isHot includeZero=true}} 
                            <span class="badge text-bg-warning 
                            rounded-pill text-uppercase">Hot</span>
                             {{/if}}

                             {{#if isNew includeZero=true}} 
                            <span class="badge text-bg-primary 
                            rounded-pill text-uppercase">New</span>
                             {{/if}}
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    {{/with}}

    <hr>

    <div class="alert alert-dark mt-5">
        {{#with subscribe}}
            <h2>{{header}}</h2>
            <p>{{description}}</p>
            <div class="row gy-2">
            {{#each buttons}}
                <a href="{{link}}">
                    <button class="btn btn-primary">{{text}}</button>
                </a>
            {{/each}}
            </div>
        {{/with}}
    </div>

    <hr>

    <div class="alert alert-success mt-5">
        {{#with service}}
            <h2 class="text-center">{{title}}</h2>
            <p class="text-center">{{description}}</p>
            <div class="row gy-2">
                {{#each buttons}}
                    <a href="{{link}}" class="text-center">
                        <button class="btn btn-primary">{{text}}</button>
                    </a>
                {{/each}}
            </div>
        {{/with}}
    </div>

    <hr>
    
       
      <div class="row">              
        <div class="card">
        <div class="card-body">
         {{#each footer}}
               <ul class="nav-item">
                 <div class="col-2">
                {{#each this}}
                <li>
                    <a href="{{link}}">{{text}}</a>
                </li>
                {{/each}}
                
               
        </div>
               </ul> 
        {{/each}}
    </div>
    </div>    
    
    </div>
</main>